@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Inter:wght@200;400;600&display=swap");

$primer: #0d1117;
$secondary: #161b22;

body {
  background-color: $primer !important;
  color: white !important;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inconsolata", monospace !important;
}

p {
  letter-spacing: 0.02em;
  font-weight: 300 !important;
}

// font size
.fs {
  &-7 {
    font-size: 14px;
  }
  &-8 {
    font-size: 12px;
  }
}

// btn link
.btn {
  &-menu {
    color: white !important;
    background-color: transparent;
    display: flex !important;
    align-items: center;
    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: none !important;
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

// icon
.icon {
  font-size: 24px;
  color: white;
}

// loading
.loading {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  .icon {
    font-size: 10rem;
  }
  &.loaded {
    opacity: 0;
  }
}

// navbar
nav {
  background-color: $secondary;
  height: 61px;
  .logo {
    height: 32px;
    width: 32px;
    object-fit: contain;
    object-position: center;
  }
  .social-media {
    a {
      text-decoration: none !important;
    }
  }
}

// banner
header {
  height: 200px;
  overflow: hidden;
  .img-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// tab section
.tab-section {
  background-color: $primer;
  .wrapper-section {
    border-bottom: 1px solid #33383f;
    .tab-menu {
      .btn-menu {
        margin-bottom: 0.5rem;
        position: relative;
      }
      .active {
        &::after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: -0.6rem;
          width: 100%;
          height: 2px;
          background-color: #e34c26;
        }
      }
    }
  }
}

// tab content
.wrap-tab-content {
  .tab-content {
    display: none;
  }
  .active {
    display: block;
  }
}

// card
.card {
  outline: none !important;
  background-color: $primer !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
  border: 1px solid #33383f !important;
  margin-bottom: 2rem;
  .img-portofolio {
    height: 146px;
    object-fit: cover;
    object-position: center;
    @media (max-width: 1200px) {
      height: 120px;
    }
    @media (max-width: 992px) {
    }
    @media (max-width: 576px) {
    }
  }
  .recap {
    padding: 1rem;
    background-color: $secondary;
    border-bottom: 1px solid #33383f;
  }
  .last-updateded {
    padding: 0.75rem 1rem;
    background-color: $primer;
  }
}

// footer
footer {
  .wrap-footer {
    border-top: 1px solid #33383f;
  }
}
