@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Inter:wght@200;400;600&display=swap");
body {
  background-color: #0d1117 !important;
  color: white !important;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inconsolata", monospace !important;
}

p {
  letter-spacing: 0.02em;
  font-weight: 300 !important;
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.btn-menu {
  color: white !important;
  background-color: transparent;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-menu:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.btn-menu:focus {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-menu:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon {
  font-size: 24px;
  color: white;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loading .icon {
  font-size: 10rem;
}

.loading.loaded {
  opacity: 0;
}

nav {
  background-color: #161b22;
  height: 61px;
}

nav .logo {
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

nav .social-media a {
  text-decoration: none !important;
}

header {
  height: 200px;
  overflow: hidden;
}

header .img-banner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.tab-section {
  background-color: #0d1117;
}

.tab-section .wrapper-section {
  border-bottom: 1px solid #33383f;
}

.tab-section .wrapper-section .tab-menu .btn-menu {
  margin-bottom: 0.5rem;
  position: relative;
}

.tab-section .wrapper-section .tab-menu .active::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  width: 100%;
  height: 2px;
  background-color: #e34c26;
}

.wrap-tab-content .tab-content {
  display: none;
}

.wrap-tab-content .active {
  display: block;
}

.card {
  outline: none !important;
  background-color: #0d1117 !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
  border: 1px solid #33383f !important;
  margin-bottom: 2rem;
}

.card .img-portofolio {
  height: 146px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1200px) {
  .card .img-portofolio {
    height: 120px;
  }
}

.card .recap {
  padding: 1rem;
  background-color: #161b22;
  border-bottom: 1px solid #33383f;
}

.card .last-updateded {
  padding: 0.75rem 1rem;
  background-color: #0d1117;
}

footer .wrap-footer {
  border-top: 1px solid #33383f;
}
/*# sourceMappingURL=style.css.map */